<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker2" ).datepicker();
  });

  

    </script>
</head>


<body>
<h1>IN PROGRESS </h1>
<h1>Create your own graph here<h1>
<h3>Choose two timepoints. Submitting this form will:</h3> 
<i>pseudocode</i>
	<ul>
		<li>Send a POST request to the /parse_form action in the controller</li>
		<li>The parse_form action will save the two timepoints from the params hash into the Query table and query the API for all entries between those timepoints</li>
		<li>Store the response from the API in an instance variable which will be available in views</li>
		<li>Redirect to views, which will display a HighCharts graph</li>
	</ul>

<p>The application uses the Ruby DateTime library ordinal method to extract the information from the form.</p>
<p>Please enter your timepoints in the form below in the following format:</p>
<p>2014-01-01T12:00:00</p>

	<%= form_tag("/staticpage/parse_form", method: "POST") do %>
	   <%= label_tag(:t1, "timepoint one: ") %>
	   <%= text_field_tag(:t1)%>
	   <%= label_tag(:t2, "timepoint two: ") %>
	   <%= text_field_tag(:t2) %>
	   <%= submit_tag "Create graph" %>
	<% end %>

<p>You can also use the Datepick calendar to select two timepoints. If you select only one timepoint, by default the application will query the dataset for all counts on that specific day.</p>
<p>Date: <input type="text" id="datepicker"></p>
<p>Date: <input type="text" id="datepicker2"></p>




</div>

</body>

