<script src="https://code.highcharts.com"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<p> This page  iterates through @data, extracting all field attributes into a table and generating a line graph. If you do not see a line graph under the table, please refresh the page.</p> 
<% unless @data.empty? %>
  <p>Number of rows: <%= @data.size=%></p>
  <table border="1" style="width:100%">
    <tr>
      <th>Date </th>
      <th>Traffic NB</th>
      <th>Traffic SB</th>
    </tr>
     <% @data.each do |f| %>
    <tr>
      <td><%= f.date %></td>
      <td><%= f.fremont_bridge_nb %></td>
      <td><%= f.fremont_bridge_sb %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<div id="containerrr" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
$(function () {
    $('#containerrr').highcharts({
        title: {
            text: 'Cyclists per Hour on the Fremont Bridge',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: data.seattle.gov',
            x: -20
        },
        xAxis: {
            categories: [ <% @data.first(@data.size-1).each do |record| %>
                          '<%= record.date %>',
                          <% end %>
                          '<%= @data.last.date%>'
              ]
        },
        yAxis: {
            title: {
                text: 'Number of Cyclists'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ' cyclists'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Fremont East Path',
            data:
            [
            <% @data.first(@data.size-1).each do |rec| %>
            <%= rec.fremont_bridge_sb %>,
            <% end %>
            <%= @data.last.fremont_bridge_sb%>
            ]     
          },
            {
            name: 'Fremont West Path',
            data:
            [
            <% @data.first(@data.size-1).each do |rec| %>
            <%= rec.fremont_bridge_nb %>,
            <% end %>
            <%= @data.last.fremont_bridge_nb%>
            ]     
          }]
    });
});
</script>